In [2]:
import pymongo
from bson import ObjectId

# Connect to mongodb server

In [3]:
my_client = pymongo.MongoClient("mongodb://localhost:27017/")

# Create database

In [4]:
my_db = my_client["test"]
my_db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'test')

# Create a collection

In [5]:
my_collection = my_db["customers"]

data to add

In [6]:
data = {
    "name":"anbish",
    "address":"HaNoi",
    "age":24
}

## Insert a document into collection

In [7]:


x = my_collection.insert_one(data)
print(x.inserted_id)

65910d13a718a1d864dfb994

### list all connection to db

In [8]:
print(my_client.list_database_names())

['admin', 'config', 'local', 'main', 'test']

# Get all documents of a collection

In [9]:
def get_all_documents(collection):
    for doc in collection.find():
        print(doc)
get_all_documents(my_collection)

{'_id': ObjectId('6590fcbc13f2f5f6ef561714'), 'name': 'ANBISH1', 'address': 'HaNoi', 'age': 30}
{'_id': ObjectId('6590fcca13f2f5f6ef561716'), 'name': 'anbish', 'address': 'HaNoi', 'age': 24}
{'_id': ObjectId('6590fcca13f2f5f6ef561717'), 'name': 'anbish2', 'address': 'HCM', 'age': 20}
{'_id': ObjectId('65910d13a718a1d864dfb994'), 'name': 'anbish', 'address': 'HaNoi', 'age': 24}

# Insert many documents into collection

In [10]:
datas = [
    {
        "name":"anbish",
        "address":"HaNoi",
        "age":24
    },
    {
        "name":"anbish2",
        "address":"HCM",
        "age":20
    }
]

x = my_collection.insert_many(datas)
get_all_documents(my_collection)

{'_id': ObjectId('6590fcbc13f2f5f6ef561714'), 'name': 'ANBISH1', 'address': 'HaNoi', 'age': 30}
{'_id': ObjectId('6590fcca13f2f5f6ef561716'), 'name': 'anbish', 'address': 'HaNoi', 'age': 24}
{'_id': ObjectId('6590fcca13f2f5f6ef561717'), 'name': 'anbish2', 'address': 'HCM', 'age': 20}
{'_id': ObjectId('65910d13a718a1d864dfb994'), 'name': 'anbish', 'address': 'HaNoi', 'age': 24}
{'_id': ObjectId('65910d29a718a1d864dfb995'), 'name': 'anbish', 'address': 'HaNoi', 'age': 24}
{'_id': ObjectId('65910d29a718a1d864dfb996'), 'name': 'anbish2', 'address': 'HCM', 'age': 20}

# Update a document

In [11]:
my_query = {"name":"anbish"}
new_value = {"$set": {"name":"ANBISH"}}
my_collection.update_one(my_query, new_value)

get_all_documents(my_collection)

{'_id': ObjectId('6590fcbc13f2f5f6ef561714'), 'name': 'ANBISH1', 'address': 'HaNoi', 'age': 30}
{'_id': ObjectId('6590fcca13f2f5f6ef561716'), 'name': 'ANBISH', 'address': 'HaNoi', 'age': 24}
{'_id': ObjectId('6590fcca13f2f5f6ef561717'), 'name': 'anbish2', 'address': 'HCM', 'age': 20}
{'_id': ObjectId('65910d13a718a1d864dfb994'), 'name': 'anbish', 'address': 'HaNoi', 'age': 24}
{'_id': ObjectId('65910d29a718a1d864dfb995'), 'name': 'anbish', 'address': 'HaNoi', 'age': 24}
{'_id': ObjectId('65910d29a718a1d864dfb996'), 'name': 'anbish2', 'address': 'HCM', 'age': 20}

# Update many documents

In [12]:
my_queries = {"name": "ANBISH"}
new_values = {"$set":{"name":"ANBISH1", "age":30}}

my_collection.update_many(my_queries, new_values)

get_all_documents(my_collection)

{'_id': ObjectId('6590fcbc13f2f5f6ef561714'), 'name': 'ANBISH1', 'address': 'HaNoi', 'age': 30}
{'_id': ObjectId('6590fcca13f2f5f6ef561716'), 'name': 'ANBISH1', 'address': 'HaNoi', 'age': 30}
{'_id': ObjectId('6590fcca13f2f5f6ef561717'), 'name': 'anbish2', 'address': 'HCM', 'age': 20}
{'_id': ObjectId('65910d13a718a1d864dfb994'), 'name': 'anbish', 'address': 'HaNoi', 'age': 24}
{'_id': ObjectId('65910d29a718a1d864dfb995'), 'name': 'anbish', 'address': 'HaNoi', 'age': 24}
{'_id': ObjectId('65910d29a718a1d864dfb996'), 'name': 'anbish2', 'address': 'HCM', 'age': 20}

# Delete one document

In [13]:
my_query = {"name":"ANBISH1"}
my_collection.delete_one(my_query)

get_all_documents(my_collection)

{'_id': ObjectId('6590fcca13f2f5f6ef561716'), 'name': 'ANBISH1', 'address': 'HaNoi', 'age': 30}
{'_id': ObjectId('6590fcca13f2f5f6ef561717'), 'name': 'anbish2', 'address': 'HCM', 'age': 20}
{'_id': ObjectId('65910d13a718a1d864dfb994'), 'name': 'anbish', 'address': 'HaNoi', 'age': 24}
{'_id': ObjectId('65910d29a718a1d864dfb995'), 'name': 'anbish', 'address': 'HaNoi', 'age': 24}
{'_id': ObjectId('65910d29a718a1d864dfb996'), 'name': 'anbish2', 'address': 'HCM', 'age': 20}

# Delete many documents

In [14]:
my_collection.delete_many({})

get_all_documents(my_collection)

# Find document by specific field

In [15]:
target_id = ObjectId("6590fcbc13f2f5f6ef561714")
result1 = my_collection.find_one({"_id":target_id})
result2 = my_collection.find_one({"name":"anbish"})
print(result1)
print(result2)

None
None

# Filter
- 0 is hidden
- 1 is displayed

In [16]:
for doc in my_collection.find({}, {"_id":0, "name":1, "age":1}):
    print(doc)

# Sort

In [17]:
sorted_docs = my_collection.find().sort("age")
for doc in sorted_docs:
    print(doc)

---

# ACTIVITY 2

- Create "students" collection

In [18]:
students = my_db["students"]

- Insert 10 fake info

In [19]:
for i in range(1, 11):
    name = f"student {i}"
    age = 18 + i
    major = f"{i}"

    data = {
        "name":name,
        "age":age,
        "major":major
    }

    students.insert_one(data)

get_all_documents(students)

{'_id': ObjectId('6591006d13f2f5f6ef561718'), 'name': 'student 1', 'age': 25, 'major': '1'}
{'_id': ObjectId('6591006d13f2f5f6ef561719'), 'name': 'student 2', 'age': 20, 'major': '2'}
{'_id': ObjectId('6591006d13f2f5f6ef56171a'), 'name': 'student 3', 'age': 21, 'major': '3'}
{'_id': ObjectId('6591006d13f2f5f6ef56171b'), 'name': 'student 4', 'age': 22, 'major': '4'}
{'_id': ObjectId('6591006d13f2f5f6ef56171c'), 'name': 'student 5', 'age': 23, 'major': '5'}
{'_id': ObjectId('6591006d13f2f5f6ef56171d'), 'name': 'student 6', 'age': 24, 'major': '6'}
{'_id': ObjectId('6591006d13f2f5f6ef56171e'), 'name': 'student 7', 'age': 25, 'major': '7'}
{'_id': ObjectId('6591006d13f2f5f6ef56171f'), 'name': 'student 8', 'age': 26, 'major': '8'}
{'_id': ObjectId('6591006d13f2f5f6ef561720'), 'name': 'student 9', 'age': 27, 'major': '9'}
{'_id': ObjectId('6591006d13f2f5f6ef561721'), 'name': 'student 10', 'age': 28, 'major': '10'}
{'_id': ObjectId('65910d29a718a1d864dfb997'), 'name': 'student 1', 'age': 19, 'major': '1'}
{'_id': ObjectId('65910d29a718a1d864dfb998'), 'name': 'student 2', 'age': 20, 'major': '2'}
{'_id': ObjectId('65910d29a718a1d864dfb999'), 'name': 'student 3', 'age': 21, 'major': '3'}
{'_id': ObjectId('65910d29a718a1d864dfb99a'), 'name': 'student 4', 'age': 22, 'major': '4'}
{'_id': ObjectId('65910d29a718a1d864dfb99b'), 'name': 'student 5', 'age': 23, 'major': '5'}
{'_id': ObjectId('65910d29a718a1d864dfb99c'), 'name': 'student 6', 'age': 24, 'major': '6'}
{'_id': ObjectId('65910d29a718a1d864dfb99d'), 'name': 'student 7', 'age': 25, 'major': '7'}
{'_id': ObjectId('65910d29a718a1d864dfb99e'), 'name': 'student 8', 'age': 26, 'major': '8'}
{'_id': ObjectId('65910d29a718a1d864dfb99f'), 'name': 'student 9', 'age': 27, 'major': '9'}
{'_id': ObjectId('65910d29a718a1d864dfb9a0'), 'name': 'student 10', 'age': 28, 'major': '10'}

- Update student 1

In [20]:
students.update_one({"name":"student 1"}, {"$set":{"age": 25}})
get_all_documents(students)

{'_id': ObjectId('6591006d13f2f5f6ef561718'), 'name': 'student 1', 'age': 25, 'major': '1'}
{'_id': ObjectId('6591006d13f2f5f6ef561719'), 'name': 'student 2', 'age': 20, 'major': '2'}
{'_id': ObjectId('6591006d13f2f5f6ef56171a'), 'name': 'student 3', 'age': 21, 'major': '3'}
{'_id': ObjectId('6591006d13f2f5f6ef56171b'), 'name': 'student 4', 'age': 22, 'major': '4'}
{'_id': ObjectId('6591006d13f2f5f6ef56171c'), 'name': 'student 5', 'age': 23, 'major': '5'}
{'_id': ObjectId('6591006d13f2f5f6ef56171d'), 'name': 'student 6', 'age': 24, 'major': '6'}
{'_id': ObjectId('6591006d13f2f5f6ef56171e'), 'name': 'student 7', 'age': 25, 'major': '7'}
{'_id': ObjectId('6591006d13f2f5f6ef56171f'), 'name': 'student 8', 'age': 26, 'major': '8'}
{'_id': ObjectId('6591006d13f2f5f6ef561720'), 'name': 'student 9', 'age': 27, 'major': '9'}
{'_id': ObjectId('6591006d13f2f5f6ef561721'), 'name': 'student 10', 'age': 28, 'major': '10'}
{'_id': ObjectId('65910d29a718a1d864dfb997'), 'name': 'student 1', 'age': 19, 'major': '1'}
{'_id': ObjectId('65910d29a718a1d864dfb998'), 'name': 'student 2', 'age': 20, 'major': '2'}
{'_id': ObjectId('65910d29a718a1d864dfb999'), 'name': 'student 3', 'age': 21, 'major': '3'}
{'_id': ObjectId('65910d29a718a1d864dfb99a'), 'name': 'student 4', 'age': 22, 'major': '4'}
{'_id': ObjectId('65910d29a718a1d864dfb99b'), 'name': 'student 5', 'age': 23, 'major': '5'}
{'_id': ObjectId('65910d29a718a1d864dfb99c'), 'name': 'student 6', 'age': 24, 'major': '6'}
{'_id': ObjectId('65910d29a718a1d864dfb99d'), 'name': 'student 7', 'age': 25, 'major': '7'}
{'_id': ObjectId('65910d29a718a1d864dfb99e'), 'name': 'student 8', 'age': 26, 'major': '8'}
{'_id': ObjectId('65910d29a718a1d864dfb99f'), 'name': 'student 9', 'age': 27, 'major': '9'}
{'_id': ObjectId('65910d29a718a1d864dfb9a0'), 'name': 'student 10', 'age': 28, 'major': '10'}

- delete student 5 and 9

In [22]:
students.delete_one({"name":"student 5"})
students.delete_one({"name":"student 9"})

get_all_documents(students)

{'_id': ObjectId('6591006d13f2f5f6ef561718'), 'name': 'student 1', 'age': 25, 'major': '1'}
{'_id': ObjectId('6591006d13f2f5f6ef561719'), 'name': 'student 2', 'age': 20, 'major': '2'}
{'_id': ObjectId('6591006d13f2f5f6ef56171a'), 'name': 'student 3', 'age': 21, 'major': '3'}
{'_id': ObjectId('6591006d13f2f5f6ef56171b'), 'name': 'student 4', 'age': 22, 'major': '4'}
{'_id': ObjectId('6591006d13f2f5f6ef56171d'), 'name': 'student 6', 'age': 24, 'major': '6'}
{'_id': ObjectId('6591006d13f2f5f6ef56171e'), 'name': 'student 7', 'age': 25, 'major': '7'}
{'_id': ObjectId('6591006d13f2f5f6ef56171f'), 'name': 'student 8', 'age': 26, 'major': '8'}
{'_id': ObjectId('6591006d13f2f5f6ef561721'), 'name': 'student 10', 'age': 28, 'major': '10'}
{'_id': ObjectId('65910d29a718a1d864dfb997'), 'name': 'student 1', 'age': 19, 'major': '1'}
{'_id': ObjectId('65910d29a718a1d864dfb998'), 'name': 'student 2', 'age': 20, 'major': '2'}
{'_id': ObjectId('65910d29a718a1d864dfb999'), 'name': 'student 3', 'age': 21, 'major': '3'}
{'_id': ObjectId('65910d29a718a1d864dfb99a'), 'name': 'student 4', 'age': 22, 'major': '4'}
{'_id': ObjectId('65910d29a718a1d864dfb99c'), 'name': 'student 6', 'age': 24, 'major': '6'}
{'_id': ObjectId('65910d29a718a1d864dfb99d'), 'name': 'student 7', 'age': 25, 'major': '7'}
{'_id': ObjectId('65910d29a718a1d864dfb99e'), 'name': 'student 8', 'age': 26, 'major': '8'}
{'_id': ObjectId('65910d29a718a1d864dfb9a0'), 'name': 'student 10', 'age': 28, 'major': '10'}

- find student 4

In [24]:
res = students.find_one({"name": "student 4"})
res

{'_id': ObjectId('6591006d13f2f5f6ef56171b'),
 'name': 'student 4',
 'age': 22,
 'major': '4'}

- filter students with age > 20

In [27]:
res = students.find({"age":{"$gt": 20}}).sort("age").limit(5)
for doc in res:
    print(doc)

{'_id': ObjectId('6591006d13f2f5f6ef56171a'), 'name': 'student 3', 'age': 21, 'major': '3'}
{'_id': ObjectId('65910d29a718a1d864dfb999'), 'name': 'student 3', 'age': 21, 'major': '3'}
{'_id': ObjectId('65910d29a718a1d864dfb99a'), 'name': 'student 4', 'age': 22, 'major': '4'}
{'_id': ObjectId('6591006d13f2f5f6ef56171b'), 'name': 'student 4', 'age': 22, 'major': '4'}
{'_id': ObjectId('6591006d13f2f5f6ef56171d'), 'name': 'student 6', 'age': 24, 'major': '6'}