In [29]:
import numpy as np
import pandas as pd
from sklearn import linear_model

## Read data

In [30]:
df = pd.read_csv("../data/real_estate.csv")
df = df.drop(columns=["No"])

- convert transaction date to int

In [31]:
df["X1 transaction date"] = np.array(df["X1 transaction date"], dtype=int)

-split train test

In [34]:
train = df[0:350]
test = df[350:df.shape[0]]

,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,2012,32.0,84.87882,10,24.98298,121.54024,37.9
1,2012,19.5,306.59470,9,24.98034,121.53951,42.2
2,2013,13.3,561.98450,5,24.98746,121.54391,47.3
3,2013,13.3,561.98450,5,24.98746,121.54391,54.8
4,2012,5.0,390.56840,5,24.97937,121.54245,43.1
...,...,...,...,...,...,...,...
345,2012,0.0,185.42960,0,24.97110,121.53170,37.9
346,2013,13.2,1712.63200,2,24.96412,121.51670,30.8
347,2013,17.4,6488.02100,1,24.95719,121.47353,11.2
348,2012,4.6,259.66070,6,24.97585,121.54516,53.7
349,2012,7.8,104.81010,5,24.96674,121.54067,47.0

- build model

In [39]:
X = train.drop(columns=["Y house price of unit area"])
Y = train["Y house price of unit area"]

X_test = test.drop(columns=["Y house price of unit area"])
Y_test = test["Y house price of unit area"]


regressor = linear_model.LinearRegression(fit_intercept=True)
regressor.fit(X, Y)

y_pred = regressor.predict(X_test)

errors = (y_pred - Y_test)**2
sse = sum(errors)

np.array(y_pred - Y_test)
sse

4083.6448394273953