In [2]:
import numpy as np
import pandas as pd

In [9]:
df = pd.read_csv("train.csv")
df

,name,elect,vdw,sfit,hint,rot,strain,alcsa,ahcsa,alcsab,ahcsab,plcsa,phcsa,plcsab,phcsab\t,logkd
0,hiv1,-54.46,-51.0,1.19,5.18,36,72.20,286.37,185.05,353.58,209.20,767.74,273.81,909.78,278.76,4.62
1,hiv2,-104.34,-55.0,1.55,-0.37,33,96.63,247.01,270.89,401.28,293.44,613.95,472.43,1003.13,445.22,4.91
2,hiv4,-81.97,-60.0,1.46,-2.68,39,144.26,283.93,242.16,425.57,266.53,746.82,402.17,1055.97,377.24,5.28
3,hivR,-26.75,-50.0,1.18,3.73,21,48.86,277.90,128.06,288.96,142.25,759.78,188.82,718.70,199.47,7.52
4,4hvp,-105.53,-66.0,1.35,-1.54,37,140.90,300.75,226.65,373.11,243.92,832.99,420.18,991.15,368.67,6.12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,th68,39.00,-42.0,1.70,2.95,16,53.00,267.00,192.00,0.00,243.00,727.53,311.19,621.21,391.72,4.30
85,th69,22.00,-34.0,1.76,0.87,14,25.00,218.00,204.00,203.00,263.00,606.94,318.03,457.95,410.26,3.64
86,th70,-69.00,-28.5,1.57,0.62,12,25.00,165.00,196.00,202.00,246.00,441.80,343.46,449.98,380.53,3.18
87,th71,-43.00,-18.0,1.15,0.77,10,25.00,50.00,186.00,137.00,206.00,129.32,312.44,293.85,281.64,2.51
88,th72,-52.00,-15.0,1.10,0.03,9,25.00,24.00,178.00,145.00,209.00,46.77,322.65,280.43,289.92,3.66

In [13]:
df.columns[15]

'logkd'

In [19]:
X = df.iloc[1:30, 2:15]   
y = df.iloc[1:30, 15]      

X1 = df.iloc[30:65, 2:15]  
y1 = df.iloc[30:65, 15]   

X2 = df.iloc[65:78, 2:15]  
y2 = df.iloc[65:78, 15] 

X3 = df.iloc[78:90, 2:15] 
y3 = df.iloc[78:90, 15]

In [25]:
print("X:", X)
print("y:", y)

print("X1:", X1)
print("y1:", y1)

print("X2:", X2)
print("y2:", y2)

print("X3:", X3)
print("y3:", y3)

y3: 78    7.20
79    3.50
80    6.57
81    7.72
82    2.70
83    6.12
84    4.30
85    3.64
86    3.18
87    2.51
88    3.66
Name: logkd, dtype: float64